*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #1e0555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6d880;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* width: 600px; */
    max-width: 90%;
    min-width: 40%;
}
h1{
    position: absolute;
    z-index: -1;
    top: 5rem;
    font-size: 4rem;
    color: #F0DB4F;
}
p{
    text-align: center;
    font-size: 3rem;
}
.buttons{
    margin: 0 auto;
}
.button{
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 2em;
    background-color: rgb(255, 255, 192);
}
